{% comment %} 
<h2>My Appointments</h2>

<table border="1">
    <tr>
        <th>Service</th>
        <th>Customer</th>
        <th>Location</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for task in assigned_tasks %}
    <tr>
        <td>{{ task.service_request.service.name }}</td>
        <td>{{ task.user.username }}</td>
        <td>{{ task.service_request.location }}</td>
         <td>
            <span class="badge bg-warning">{{ task.status }}</span>
        </td> 
        
        {% comment %} <td>
            <a href="{% url 'update_mechanic_task_status' task.id %}" class="btn btn-primary">Edit Status</a>
        </td> {% endcomment %}
        <td><a href="{% url 'update_mechanic_task_status' task.id %}">Edit Status</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No assigned appointments found.</td>
    </tr>
    {% endfor %}
</table>

 {% endcomment %}
